body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
/*Common Styles*/
.btn
{
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    color: white;
    border:0;
    border-radius: 10px;
    font-weight: 400;
    background: #E55473;
}
.limited-width
{
    max-width: 1300px;
    margin:auto;
    padding: 20px;
    
}
span
{
    color: #E55473;
}
/*Header Section Styles*/
.header-section
{
    margin:0px;
    padding:0px;
}
.header-container
{
    display: flex;
    padding: 100px;
    background-color: #FCEEF1;
    justify-content: space-around;
    align-items: center;
    max-height: 380px;
    margin: 0%;
    
}
.header-info
{
    max-width: 550px;
    padding: 20px;
}
.header-info h1
{
    color: #272727;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.header-info p
{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.header-img
{
   
    background-image: url(pngwing10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin-top: 30px;
    width: 450px;  
}
/*Bonus section styles*/
.limited-width p
{
    text-align: center;
    font-size: 21px;
    

}
.limited-width h1
{
    text-align: center;
    font-size: 40px;
}
.feature-flower-container
{
    display: flex;
    gap: 50px;
}
.flower1
{
    background-color: #F1DDE7 ;
    border-radius: 300px 300px 0px 0px;
    padding: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.flower2
{
    background-color: #D9EFF0 ;
    border-radius: 300px 300px 0px 0px;
    padding: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.flower3
{
    background-color: #E3EBDB ;
    border-radius: 300px 300px 0px 0px;
    padding: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.flower1 img
{
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; 
    max-height: 100%; /
}
.flower2 img
{
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-55%, -50%);
    max-width: 100%; 
    max-height: 100%; 
}
.flower3 img
{
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; 
    max-height: 100%; 
}
.title-container
{
    display: flex;
    justify-content: space-around;
}
.no-mark
{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 40px;
    background-color: #F4F4F4;
    border-radius: 20px;
}
/*Hot Deal Section Styles*/
.Hot-Deal-Container
{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 40px;
    background-color: #FCEEF1;
}
.hot-deal-info
{
    text-align: center;
    max-width: 550px;
}
.hot-deal-info h1
{
    color: #272727;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hot-deal-info p
{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.hot-deal-image
{
   
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.hot-deal-image img
{

    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-55%, -50%);
    max-width: 100%; 
    max-height: 100%; 
}
/*Instagram Section Styles*/
.insta-image-container
{
    display: flex;
    justify-content: center;
    gap: 20px
}